.user-posts {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.user-post {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.user-post h3 {
    padding: .5em;
}

table, tr, td {
    border: 1px solid black;
    padding: .3em
}

a td {
    border: none;
}